CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/freescale/hzcarIMX6QDL/mx6dlsabresd.cfg,MX6DL,SYS_BOOT_SPINOR,ANDROID_SUPPORT"
CONFIG_ARM=y
CONFIG_TARGET_MX6QDL_HZ=y
CONFIG_SYS_MALLOC_F=y
CONFIG_SYS_MALLOC_F_LEN=0x400
CONFIG_DM=y
CONFIG_DM_THERMAL=y
